.map-container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
}

.backButton {
    display: flex;
    flex-direction: column;
    height: 2vh;
    width: 10vw;
    padding: 20px;
    box-sizing: border-box;
}
/* CSS for SidePanel */
.side-panel {
    position: fixed; /* Fixed position to overlay entire page */
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
    z-index: 1000; /* Overlay map and other content */
    overflow-y: auto;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

/* Class for open state */
.side-panel-open {
    transform: translateX(0); /* Slide in from right */
}

.close-panel-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.search-bar {
    position: fixed;
    width: 650px;
    top: 146px;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 700px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    z-index: 1000;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.popup-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}
