.home {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}