#root {
  max-width: 200vh;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.App {
  display: block;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
