.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-title {
    font-size: x-large;
    margin-bottom: 20px;
}

.buttons {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
    margin: 10px;
}

.buttons:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}