.landing-container {
    height: 75vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-title {
    font-size: x-large;
    margin-bottom: 10px;
    text-align: center;
}

.buttons {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
    padding: 15px 30px;
    margin: 10px;
    border-radius: 5px;
}

.buttons:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}